# =========================
# MEDfl FULL requirements
# (runtime + docs)
# Compatible with Python 3.9
# =========================

# ---- Flower (keep only one; simulation includes extra deps)
flwr[simulation]~=1.18.0

# ---- Core scientific
numpy>=1.26,<2.1
pandas>=1.5,<2.2
scikit-learn>=1.1,<1.6

# ---- Visualization
matplotlib>=3.6,<3.10
seaborn>=0.13,<0.14
plotly==5.19.0

# ---- Deep learning + DP
torch>=2.0
opacus>=1.5,<2.0

# ---- Optimization
optuna==3.5.0

# ---- DB
SQLAlchemy>=1.4.47,<2.1
mysql-connector-python>=9.3,<10.0

# ---- Utils
PyYAML>=6.0,<7.0

# =========================
# Docs dependencies (normally should be optional)
# =========================
Sphinx>=5.3,<6.0
sphinx-jsonschema==1.19.1
sphinx-rtd-dark-mode==1.2.4

xgboost
shap