.logo img {
    max-width: 100px !important;  /* Adjust the width as needed */
    max-height: 100px !important; /* Adjust the height as needed */
}

.wy-nav-content {
    max-width: 1200px !important;
}